__pycache__
*.pyc

# Map generator config
mgconfig.json

# World save file
world.tworld

# World metadata
world.meta

# World entities
world.entities

# Config file
config.json

# Saves directory
saves
